/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                LAYOUT
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                MENU
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                LOGO
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.plate1{
 text-align: center;
}

.wallpaper{
    text-align: center;
}

body{
    background-image: url(../photo/unnamed.jpg);
    background-size: cover;
}

body {
  padding: 20px;
}



.dropbtn {
    background-color: #823B00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #692F00;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #DB8742}

.show {display:block;}




.dropbtn1 {
    background-color: hotpink;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
    background-color: palevioletred;
}

.dropdown1 {
    float:left;
    position: relative;
    display: inline-block;
    
}

.dropdown-content1 {
    display: none;
    position: ;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1 a:hover {background-color: deeppink;}

.show1 {display:block;}

#div1 {width:210px;height:210px;padding:10px;border:3px solid black;float: left } 

#div2 {width:210px;height:210px;padding:10px;border:3px solid black;float: right }